In [1]:
import pandas as pd

# Genres

In [2]:
with open('./raw_data/genres.list', 'r', errors='replace') as f:
    lines = f.readlines()
    
    movie_genres = {}
    
    for line in lines:
        movie = line.split('\t')[0]
        genre = line.split('\t')[-1].strip()

        if movie in movie_genres:
            movie_genres[movie].append(genre)
        else:
            movie_genres[movie] = [genre]

In [6]:
'''
dict structure:
{
    movie1: [genre1, genre2, ...],
    movie2: [genre1, genre2, ...],
    ...
}
'''

movie_list = []
# convert dict to list
for movie, genres in movie_genres.items():
    movie_list.append({
        'movie': movie,
        'genres': genres
    })

# convert list to dataframe
df = pd.DataFrame(movie_list)

In [7]:
df

,movie,genres
0,"""!Next?"" (1994)",[Documentary]
1,"""#1 Single"" (2006)",[Reality-TV]
2,"""#15SecondScare"" (2015)","[Horror, Short, Thriller]"
3,"""#15SecondScare"" (2015) {Who Wants to Play wit...","[Drama, Horror, Short, Thriller]"
4,"""#1MinuteNightmare"" (2014)",[Horror]
...,...,...
1468749,� (2012),"[Animation, Short]"
1468750,�regHarcos (2016),"[Documentary, Short]"
1468751,�regHarcos II (2017) (V),"[Documentary, Short]"
1468752,�berRICH (2017),"[Comedy, Short]"
1468753,�� (2012),"[Adventure, Comedy, Short]"

In [8]:
# store dataframe to csv
df.to_csv('./data/genres.csv', index=False)

# Plots

In [9]:
with open('./raw_data/plot.list', 'r', errors='replace') as f:
    lines = f.readlines()
    
    movie_plots = {}
    
    for line in lines:
        if line.startswith('MV:'):
            movie = line.split('MV:')[1].strip()
            movie_plots[movie] = ''
        elif line.startswith('PL:'):
            plot = line.split('PL:')[1].strip()
            movie_plots[movie] += plot

In [10]:
# convert dict to list
movie_list = []
for movie, plot in movie_plots.items():
    movie_list.append({
        'movie': movie,
        'plot': plot
    })

# convert list to dataframe
df = pd.DataFrame(movie_list)
df

,movie,plot
0,"""#7DaysLater"" (2013)",#7dayslater is an interactive comedy series fe...
1,"""#BlackLove"" (2015) {Bringing Sexy Back (#1.3)}","This week, the five women work on getting what..."
2,"""#BlackLove"" (2015) {Crash the Party (#1.9)}","With just one week left in the workshops, the ..."
3,"""#BlackLove"" (2015) {Like a Virgin (#1.4)}",All of the women are struggling with what make...
4,"""#BlackLove"" (2015) {Making Lemonade Out of Le...",All of the women start making strides towards ...
...,...,...
596422,� propos: philosophie (2016),Is happiness good for human beings? Is truth m...
596423,�a go�te le ciel (2014),The 'Sky's the Limit' is the story of an 11 ye...
596424,� solo un nastro che gira (2017),A woman in crisis finds in a peculiar bar the ...
596425,�X-Driver the Movie (2002) (V),"The squeal of smoking tires, the roar of the e..."
596426,�l (2001) (V),In order to oppose the evil Black Widow organi...

In [ ]:
# save dataframe to csv
df.to_csv('./data/plots.csv', index=False)